## Deliverable 2. Create a Customer Travel Destinations Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Takoradi,GH,4.8845,-1.7554,72.46,87,1,6.96,clear sky
1,1,Yellowknife,CA,62.4560,-114.3525,59.52,94,100,9.22,light rain
2,2,Duvan,RU,55.6950,57.9024,59.31,83,17,2.86,few clouds
3,3,Avarua,CK,-21.2078,-159.7750,77.05,69,75,16.11,broken clouds
4,4,Cernesti,RO,47.5167,23.7500,70.50,57,86,2.06,overcast clouds

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Takoradi,GH,4.8845,-1.7554,72.46,87,1,6.96,clear sky
3,3,Avarua,CK,-21.2078,-159.7750,77.05,69,75,16.11,broken clouds
4,4,Cernesti,RO,47.5167,23.7500,70.50,57,86,2.06,overcast clouds
5,5,Atuona,PF,-9.8000,-139.0333,76.80,80,43,16.31,light rain
7,7,Saint Anthony,US,45.0205,-93.2180,77.05,86,100,11.50,overcast clouds
9,9,Gizo,SB,-8.1030,156.8419,83.34,73,94,9.82,light rain
10,10,Albany,US,42.6001,-73.9662,88.27,58,94,5.55,overcast clouds
11,11,Shingu,JP,33.7333,135.9833,82.40,80,27,4.03,scattered clouds
12,12,Bubaque,GW,11.2833,-15.8333,78.33,86,100,9.51,moderate rain
17,17,Georgetown,MY,5.4112,100.3354,81.90,90,20,3.44,few clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                360
City                   360
Country                360
Lat                    360
Lng                    360
Max Temp               360
Humidity               360
Cloudiness             360
Wind Speed             360
Current Description    360
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#no empty rows

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Takoradi,GH,72.46,clear sky,4.8845,-1.7554,
3,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
4,Cernesti,RO,70.50,overcast clouds,47.5167,23.7500,
5,Atuona,PF,76.80,light rain,-9.8000,-139.0333,
7,Saint Anthony,US,77.05,overcast clouds,45.0205,-93.2180,
9,Gizo,SB,83.34,light rain,-8.1030,156.8419,
10,Albany,US,88.27,overcast clouds,42.6001,-73.9662,
11,Shingu,JP,82.40,scattered clouds,33.7333,135.9833,
12,Bubaque,GW,78.33,moderate rain,11.2833,-15.8333,
17,Georgetown,MY,81.90,few clouds,5.4112,100.3354,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Takoradi,GH,72.46,clear sky,4.8845,-1.7554,Raybow International Hotel
3,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
4,Cernesti,RO,70.50,overcast clouds,47.5167,23.7500,Double-B
5,Atuona,PF,76.80,light rain,-9.8000,-139.0333,Villa Enata
7,Saint Anthony,US,77.05,overcast clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
9,Gizo,SB,83.34,light rain,-8.1030,156.8419,Imagination Island
10,Albany,US,88.27,overcast clouds,42.6001,-73.9662,
11,Shingu,JP,82.40,scattered clouds,33.7333,135.9833,Shingu UI Hotel
12,Bubaque,GW,78.33,moderate rain,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang

In [29]:
hotel_df.count()

City                   360
Country                360
Max Temp               360
Current Description    360
Lat                    360
Lng                    360
Hotel Name             360
dtype: int64

In [36]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Takoradi,GH,72.46,clear sky,4.8845,-1.7554,Raybow International Hotel
3,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
4,Cernesti,RO,70.50,overcast clouds,47.5167,23.7500,Double-B
5,Atuona,PF,76.80,light rain,-9.8000,-139.0333,Villa Enata
7,Saint Anthony,US,77.05,overcast clouds,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
9,Gizo,SB,83.34,light rain,-8.1030,156.8419,Imagination Island
11,Shingu,JP,82.40,scattered clouds,33.7333,135.9833,Shingu UI Hotel
12,Bubaque,GW,78.33,moderate rain,11.2833,-15.8333,"Casa Dora, Bubaque"
17,Georgetown,MY,81.90,few clouds,5.4112,100.3354,Cititel Penang
19,Butaritari,KI,80.85,light rain,3.0707,172.7902,Isles Sunset Lodge

In [38]:
clean_hotel_df.count()

City                   342
Country                342
Max Temp               342
Current Description    342
Lat                    342
Lng                    342
Hotel Name             342
dtype: int64

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
current_description = clean_hotel_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))